body {
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 1.75em;
}

div.container section {
    border: 1px solid black;
    margin-left: 10px;
    //margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    background-color: #c0c0c0;
}

div.container section div.item-title {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    float: right;
    width: 200px;
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
}

div.container section div.item-content {
    clear: both;
    padding: 10px;
}

div.container div:nth-child(1) section div.item-title {
    background-color: yellow;
}

div.container div:nth-child(2) section div.item-title {
    background-color: red;
    color: white;
}

div.container div:nth-child(3) section div.item-title {
    background-color: blue;
    color: white;
}

@media (min-width: 992px) {
    div.container .col-desktop {
        width: 33.3%;
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    div.container .col-tablet {
        width: 50%;
        float: left;
    }
    div.container .col-tablet:nth-child(3) {
        clear: both;
        width: 100%;
    }
}

@media (max-width: 767px) {
    div.container .col-phone {
        width: 100%;
    }
}

